<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jetzt registrieren</title>

    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/Footer.css">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/font-awesome/css/all.css">


    <script src="/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Import own script (the compiled javascript)-->
    <script>var exports = {"__esModule": true};</script>
    <script src="/script/script.js"></script>
    <script src="/script/mainscript.js"></script>
</head>
<body>
<div class="container">
    <div class="jumbotron-fluid">
        <h4 class="registerHeader">
            Hey, cool das du dich registrierst!
        </h4>
    </div>
</div>

</body>
</html>